body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eaf6ff;
  background-image: url('../images/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
}
header {
  background-color: rgb(114, 20, 20);
  color: #eaf6ff;
  padding: 20px 10px 20px 10px;
  text-align: center;
  font-size: 25px;
}
nav {
  background-color: rgb(63, 59, 59);
  padding: 10px;
  text-align: center;
}
a {
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  margin-right: 15px;
}
.container {
  color: rgb(41, 40, 40);
  padding: 20px;
}
.centered-logo {
  text-align: center;
}
footer {
  color: white;
  text-align: center;
  font-size: 10px;  
}
.hamburger-menu {
  position: relative;
}

.menu-toggle {
  font-size: 28px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}

#mobile-nav {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #33333356;
  z-index: 1000;
}

#mobile-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#mobile-nav li {
  border-bottom: 1px solid #444;
}

#mobile-nav a {
  display: block;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
}

#mobile-nav a:hover {
  background-color: #555;
}

.hidden {
  display: none;
}






